.header_sns {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 260px;
    text-align: center;
    padding: 15px 0 10px;
    background-color: var(--blackAlpha100);
    backdrop-filter: blur(10px);

    li {
        display: inline-block;

        a {
            padding: 5px 7px;
            display: inline-block;
        }
    }
}