#header {
    position: fixed;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    overflow-y: auto;
    z-index: 10000;
    background-color: #fff;
}
#main {
    max-width: 2000px;
    min-height: 100vh;
    margin: 0 auto;
    padding-left: 260px;
    background-color: #f8f8f8;
}
#footer {
    text-align: center;
    background-color: #f0f0f0;
    padding: 20px 20px 20px 260px;
}
